<?xml version="1.0"?>
<launch>
    <arg name="paused"          default="false" />
    <arg name="use_sim_time"    default="true"  />
    <arg name="gui"             default="true"  />
    <arg name="headless"        default="false" />
    <arg name="debug"           default="false" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name"    value="$(find sac_gazebo)/worlds/scorbot2.world" />
        <arg name="debug"         value="$(arg debug)" />
        <arg name="gui"           value="$(arg gui)" />
        <arg name="paused"        value="$(arg paused)" />
        <arg name="use_sim_time"  value="$(arg use_sim_time)" />
        <arg name="headless"      value="$(arg headless)" />
    </include>

    <param name="robot_description"
        command="$(find xacro)/xacro --inorder '$(find sac_description)/urdf/scorbot_description.xacro'" />

    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model scorbot -param robot_description" />

    <!-- Load the joint controller configurations from the yaml file to the parameter server -->
    <rosparam file="$(find sac_gazebo)/config/scorbot_control.yaml" command="load" />

    <!-- Load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="/scorbot" args="joint_state_controller
                                                base_position_controller
                                                shoulder_position_controller
                                                elbow_position_controller
                                                wrist_pitch_position_controller
                                                wrist_roll_position_controller
                                                pad1_position_controller
                                                pad2_position_controller" />

    <!-- Convert the joint states to T transforms for RViz, etc. -->
    <!--node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
        <remap from="/joint_states" to="/scorbot/joint_states" />
    </node-->
</launch>
